*{
    font-family: 'Crimson Text', serif;
}

/* NAVBAR */
/* header{
    position: fixed;
    z-index: 30;
    width: 100%;
} */

.navbar{
    background-color: white;
    border: 0 solid white;
}

.icon-DigitalOcean{
    width: 180px;
    object-fit: cover;
}

.navbar-left{
    padding-left: 50px;
}


/* JUMBOTRONE */
#Jumbotrone{
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
}

.Title{
    color: white;
}

.Blue{
    color:#0248ff;
}

i{
    padding-right: 10px;
}

.email-pwd{
    background-color: white;
}

.padding-top,
.padding-bottom{
    padding-top: 20px;
}
.fa-google{
    color: #e43c5f;
}

.fa-facebook{
    color:#3e5b99;
}

.fa-instagram{
    color: red;
}

.btn{
    margin-top: 15px;
}

/* IMAGE */
.image{
    background-color: #f3f5f9;
}

.inline img{
    width:100px;
}

.fa-chevron-right{
    padding-left: 10px;
}

/* DEPLOY AND SCALE SEAMLESSLY */

.list-group-item{
    border-style: hidden hidden hidden solid;
}

/* DESIGNED FOR DEVELOPERS */
.Designed{
    background-color: #f3f5f9;
}

.example{
    width: 200px;
}

i.fa-hand-point-left,
i.fa-hand-point-right{
    padding-top: 50px;
}

i.fa-circle{
    color:#0248ff;;
}

@media screen and (max-width: 768px){
    .example{
        width:100px;
    }
}

/* <!-- THE FEATURES YOUR BUSINNES NEED --> */

/* <!-- 12 REGION --> */
.bk-blue{
  background-image: linear-gradient(#0049ff, #052ac3);
}

/* <!-- DEVELOPMENT TEAMS LOVE DIGITALOCEANS--> */
.Development-teams{
    background-color: #f3f5f9;
}
.rockerbox{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
