*{
    font-family: 'Crimson Text', serif;
}

/* NAVBAR */
/* header{
    position: fixed;
    z-index: 30;
    width: 100%;
} */

.icon-DigitalOcean{
    width: 180px;
    object-fit: cover;
}

.navbar-left{
    padding-left: 50px;
}
